.ElementSelect .element.large.hasthumb .label {
  display: none;
}

.ElementSelect-option,
.ElementSelect-option * {
  cursor: pointer;
}

.ElementSelect-option.disabled,
.ElementSelect-option.disabled * {
  cursor: default;
}
