{% if name is defined and name %}
	<input type="hidden" name="{{ name }}" value="">
{% endif -%}

{%- set options = (options is defined ? options : []) %}
{%- set optionName = (name is defined and name ? name~'[]' : null) %}
{%- set dataOptions = {
	limit: settings.limit == '' ? null : settings.limit|round
} %}

{% set inputTemplate = '_includes/forms/checkbox' %}

<div id="{{ id }}-options" class="elements ElementSelect" data-options="{{ dataOptions|json_encode()|e('html_attr') }}">
	<ul class="thumbsview">
	{%- for key, option in options %}
		<li data-label="{{ option.label|e('html_attr') }}" class="ElementSelect-option {% if settings.showCheckbox %}has-checkbox{% endif %} {% if not settings.showLabel %}ElementSelect-option--noLabel{% endif %}">
			{% if option.element|length %}
				{% for element in option.element %}
					{% include "_elements/element" with {
						size: settings.viewMode,
					} %}
				{% endfor %}
			{% endif %}
			{% if settings.showCheckbox %}
				<div class="checkbox" title="{{ 'Select'|t }}"></div>
			{% endif %}
			<div class="hidden">
				{% include inputTemplate with {
					label:     option.label,
					class:		 'ElementSelect-input',
					id:        (loop.first and id is defined ? id : null),
					name:      optionName,
					value:     option.value,
					checked:   option.selected,
					autofocus: (autofocus is defined and autofocus and loop.first and not craft.request.isMobileBrowser(true))
				} only %}
			</div>
		</li>
	{%- endfor %}
	</ul>
</div>
<div class="clear"></div>
