{% extends '_components/fieldtypes/elementfieldsettings' %}
{% import "_includes/forms" as forms %}

{% block optionsField %}
	{% set input %}{% include 'elementoptions/_includes/forms/editableTable' %}{% endset %}
	{{ forms.field({
		'id'          : id,
		'label'       : label,
		'instructions': instructions,
	}, input)}}
{% endblock %}

{% block fieldSettings %}
	{{ block('limitField') }}
	{{ block('viewModeField') }}
	{{ forms.lightswitchField({
		name: 'showLabel',
		label: "Show Label",
		on: settings.showLabel,
	}) }}

	{{ forms.lightswitchField({
		name: 'showCheckbox',
		label: "Show Checkbox",
		on: settings.showCheckbox,
	}) }}

	{{ block('optionsField') }}
{% endblock %}
